.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    z-index: 1000;
    position: relative;
    background-color: #424a64;
}

.nav-item {
    color: #212529;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    padding: 0.5rem 1rem;
    font-family: Lato;
    font-weight: 300;
    font-size: 1rem;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;
}

.nav-item:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    background-color: #04011e;
}


body { 
    min-height: 100vh;
    background: linear-gradient(180deg, #7282B3 0%, #1E1E1E 100%);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 0;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    overflow-x: hidden;
}

.skills {
    color: #FFF;
    font-family: Lato;
    font-size: 1.2rem;
    margin-right: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-weight: 100;
    word-wrap: break-word;
}

.main_img {
    justify-content: end;
    justify-items: end;
}

.left_div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    background-color: #424a64;
    max-width: 40vw;
    min-width: 40vw;
}

.right_div {
    flex: 1;
    background: #04011e;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 60vw;
    margin-right: 5px;
}

.headings {
    margin-left: -60px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    position: relative;
}

h1 {
    flex-shrink: 0;
    font-family: Lato;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: #ccc;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(10px);
}

h3 {
    width: 1060px;
    margin: 0px 0 40px 0;
    font-family: Lato;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #ccc;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(10px);
}

.headings h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #424a64; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Centers the text */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
 }

 /* The typing effect */
 @keyframes typing {
    from { width: 0 }
    to { width: 100% }
 }

 /* The typewriter cursor effect */
 @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #424a64; }
 }


h1:hover,
h3:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.logo_cls {
    flex-shrink: 0;
    margin-top: 30px;
    background-color: whitesmoke;
    max-width: max-content;
    padding: 5px 30px 0 30px;
}

.logo_cls img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.logo_cls img:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.skills {
    padding-left: 40px;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prPageBody {
    background-color: #0e0d21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.up {
    margin-top: -2px;
}

h2 {
    color: #FFF;
    font-family: Lato;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: space-around;
    align-items: center;
}


.p4 {
    display: block;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #59617F;
    min-width: 40vw;
    min-height: 80vh;
    margin: 30px;
    padding: 30px;
}


.p4:hover:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #424a64;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

.p4 img {
    max-width: 30vw;
    padding-left: 5vw;
    padding-bottom: 20px;
}


.p4 img:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #424a64;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleText {
    color: #FFF;
    font-family: Lato;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.descText {
    color: #FFF;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.descText2 {
    color: #FFF;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: .8;
    margin-top: 10px;
}

.btn2,
.btn {
    background-color: #424a64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    min-width: 10vw;
    transition: all 0.2s ease-in-out;
    margin: 20px 0 10px 0;
}

.btn2:hover,
.btn:hover {
    background-color: #7282B3;
}

.btn2:active {
    transform: scale(0.95);
}

form {
    background-color: #0e0d21;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.main_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 10vw;
}

.right_part_contact {
    margin-left: 5vw;
    display: flex;
    color: #FFF;
    font-family: Lato;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    justify-content: space-between;
}

.right_part_contact a {
    text-decoration: none;
}

.right_part_contact img {
    margin: 0px 5px -5px 0px;
}

.texr_part {
    display: flex;
    flex-direction: column;
}

.social_logo_part {
    flex-shrink: 0;
    margin-top: 30px;
    background-color: whitesmoke;
    max-width: max-content;
    max-height: 45px;
    padding: 5px 30px 0 30px;
}

.social_logo_part img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 3px;
}

.social_logo_part img:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.right_part_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.gmail img,
.wp img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}


@media only screen and (max-width: 768px) {


    body {
        max-width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .left_div {
        max-width: 70vw;
        max-height: 70vh;
        background-color: inherit;
        justify-content: center;
        display: none;
    }

    .left_div img {
        border-radius: 458px;
        background: url(<path-to-image>), #7282B3 50% / cover no-repeat;
    }

    .right_div {
        width: 100%;
        display: flexbox;
        min-width: 100vw;
    }

    .headings {
        display: block;
        max-width: 90vw;
        margin: 10px;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8rem;
        overflow-x: scroll;
    }

    h3 {
        font-family: Arial, Helvetica, sans-serif;

        font-size: 1rem;
        font-weight: 500;
    }

    .p4{
        padding: 20px;
        min-height: inherit;
    }

    .p4 img{
        margin: 5px 2px 5px 0;
        padding: 0;
    }

    .skills {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

    .skill_points {
        min-width: 80vw;
        font-weight: 200;
    }

    .disc {
        justify-content: flex-end;
        min-width: 80vw;
        font-weight: 400;
    }

    .logo_cls {
        min-width: 50vw;
    }

    .mid {
        display: block;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }

    .mid img {
        min-width: 70vw;
    }

    .main_contact {
        display: flex;
        flex-direction: column;
        margin: 20px;
        max-width: 90vw;
        justify-content: center;
        align-items: center;
    }

    form {
        margin: 30px;
        max-width: 70vw;
    }

    .right_part_contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: .8rem;
    }

    .social_logo_part {
        display: inline-block;
        background-color: #ccc;
        max-width: 100vw;
        padding: 5px 15px 5px 15px;
        max-height: 100vh;
    }

    .text_part {
        color: whitesmoke;
        font-weight: 500;
        font-size: .9rem;
        text-decoration: none;
        min-width: 80vw;
        margin-bottom: 30px 0 30px 0;
    }

    .navbar {
        margin: 0;
        justify-content: center;
    }
}